<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">API's</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="add">Add</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" routerLink="update">Update</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="list">List</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<div class="container-fluid bg">
    <h5 style="text-align: center;">&copy; CopyRight Classic. All Rights Are Reserved.<br>by priyabharambe007@gmail.com
    </h5>
</div>